@font-face {
    font-family: 'Gozam';
    src: url('fonts/HomepageBaukasten-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/HomepageBaukasten-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/HomepageBaukasten-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 700;
     font-style: normal;
   }
  
  @font-face {
    font-family: 'Gozam';
    src: url('fonts/iCielGotham-Medium.woff') format('woff'), /* Modern Browsers */
       url('fonts/iCielGotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/iCielGotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 400;
     font-style: normal;
   }
  
  @font-face {
    font-family: 'Gozam';
    src: url('fonts/Metropolis-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('fonts/Metropolis-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Metropolis-ExtraLight.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 300;
     font-style: normal;
   }

html {
    height: 100%;
}

body {
    background-color: #f3eee9;
    min-height: 100%;
    font-family: 'Gozam';
}

.tarjeta {
    max-width: 100%;
    box-shadow: -1px -1px 11px 9px #0000001a;
    background-color: white;
    border-radius: 10px;
    padding: 1vh;
}

.jumbotron {
    background-color: #ffffff00;
}

.vertical-center {
    min-height: 100%;
    min-height: 95vh;
    display: flex;
    align-items: center;
}

.texto-home {
    font-size: 1.5rem;
}
