body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #efefef;
}

header {
  padding: 20px 0;
}

header nav {
	display: flex;
	align-items:center;
	justify-content: flex-end;
}

header a {
  padding: 0 20px;
  font-size: 150%;
  margin: 0;
  color: #868686;
}

header a:hover {
	color: #3f3e3e;
	text-decoration: none;
	font-weight: 320;
}

#marca {
	font-family: 'Lora', serif;
	font-weight: 250;
	font-size: 1750%;
	color: #868686;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 50px;
}

#joyas {
	color: #868686;
	padding-top: 0px;
	margin-top: -25px;
	font-size: 500%;
	font-weight: 300;
	margin-bottom: 50px;
}

#inicio{
	
	border-style: solid;
	border-width: 10px;
	border-color: #fff;
	display:flex;
  	align-items:center;
  	justify-content:center;
}

.seccion {
	padding: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
	color: #868686;
	font-size: 250%;
	font-weight:300;
}

.seccion:hover {
	text-decoration: none;
	color: #3f3e3e;
	font-weight: 320;
}

#logo {
	font-family: 'Lora', serif;
	font-size: 300%;
}

.titulo {
	color: #868686;
	text-align: center;
	font-size: 500%;
	font-weight: 300;
	margin-bottom: 50px;
}

.galeria {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
}

.item {
	margin: 20px;
}

.imagen {
	display: block;
  	width: 400px;
  	height: auto;
	border: 10px solid #fff;
}

.precio {
	color: #d3b4b8;
	font-size: 150%;
	font-weight: 400;
}

.nombre {
	color:#868686;
	font-size: 150%;
}
